#########################################################
###                RANCHER CREDENTIALS                ###
#########################################################
rancher_endpoint:
rancher_username:
rancher_secret_key:

#########################################################
###                     AWS KEYS                      ###
#########################################################
aws_accesskey:
aws_secretkey:
